<%- include('layouts/header'); -%>
<link rel="stylesheet" type="text/css" href="css/policies.css">
<!-- end-css-&-fonts -->
</head>

<body>
    <!-- menu -->
    <%- include('layouts/menu'); -%>

    <!-- container -->
    <%- include('layouts/container'); -%>
        <!-- cookies-policy-page -->
        <div class="text-center">
            <h1>POLÍTICA DE COOKIES</h1>
        </div>
        <!-- end-cookies-policy-page -->
    </div>
    <!-- end-container -->

    <!-- footer -->
    <%- include('layouts/footer'); -%>

    <!-- specified-js -->

    <!-- end-specified-js -->
    <!-- end-js -->
    <!-- end-footer -->
</body>

</html>