<%- include('layouts/header'); -%>
<link rel="stylesheet" type="text/css" href="css/index.css">
<!-- end-css-&-fonts -->
</head>

<body>
    <!-- menu -->
    <%- include('layouts/menu'); -%>

    <!-- container -->
    <%- include('layouts/container'); -%>
        <!-- home-page -->
        <div class="text-center"><img alt="nodejs" src="images/nodejs/logo/nodejs-512.svg"></div>
        <!-- end-home-page -->
    </div>
    <!-- end-container -->

    <!-- footer -->
    <%- include('layouts/footer'); -%>

    <!-- specified-js -->

    <!-- end-specified-js -->
    <!-- end-js -->
    <!-- end-footer -->
</body>

</html>