<footer>
    <div class="text-center">
        <!-- copyright -->
        <div id="copyright" class="float-left">
            <span>Copyright 2020 © [Nombre Empresa] Todos los derechos reservados</span>
        </div>
        <!-- end-copyright -->

        <!-- telefonica-logo -->
        <div id="footer_company_logo" class="navbar-brand">
            <a href="/"><img alt="nodejs" src="images/nodejs/logo/nodejs-512.svg"></a>
        </div>
        <!-- end-telefonica-logo -->

        <!-- terms-&-policies-links -->
        <div id="footer_policies" class="float-right">
            <!-- terms-&-conditions-option -->
            <a class="mr-2" href="/terms-&-conditions">Términos y condiciones</a>
            <!-- end-terms-&-conditions-option -->

            <!-- privacy-policy-option -->
            <a class="mr-2" href="/privacy-policy">Política de privacidad</a>
            <!-- end-privacy-policy-option -->

            <!-- cookies-policy-option -->
            <a href="/cookies-policy">Política de cookies</a>
            <!-- end-cookies-policy-option -->
        </div>
        <!-- end-terms-&-policies-links -->
    </div>
</footer>

<!-- js -->
<%- include('../layouts/foot'); -%>