<meta charset="UTF-8" />
<base href="http://localhost:9999">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- title -->
<title><%= siteTitle %><%= pageTitle %> </title>
<!-- end-title -->

<!-- tags -->
<meta name="description" content="<%= description %>" />
<link rel="canonical" href="<%= urlCanonical %>" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<!-- end-tags -->

<!-- favicon -->
<link rel="icon" href="favicon.ico" sizes="32x32" />
<!-- end-favicon -->

<!-- css-&-fonts -->
<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css"> <!-- v4.0.0 -->
<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/footer.css">